/* Miami specific CSS */

@import url(https://fonts.googleapis.com/css?family=Raleway:500,400,600,300);

a {
	color: #01A2A6;
}
a:hover{
		color: #29D9C2;
}
.btn-primary {
	background-color: #01A2A6;
	border-color: #01A2A6;
}

.btn-primary:hover {
	background-color: #29D9C2;
	border-color: #29D9C2;
}

.btn-info {
	background-color: #BDF271;
	border-color: #BDF271;
	color: #333;
}
.btn-info:hover, .btn-info:active {
    background-color: #FFFFA6;
    border-color: #FFFFA6;
		color: #2F2933;
}
.btn-bill-detail{
    padding: 16px 0px;
    top: 12px;
}
.btn-bill-detail:hover, .btn-bill-detail:active{
	background-color: #29D9C2; /* birght teal */

}


.nav-pills > li > a {
	color: #29D9C2; /* dark teal */
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li > a:hover {
    background: none;
    color: #29D9C2; /* bright teal */
    border-bottom: 8px solid #1c87ca; /* dark blue */

}


.badge-default {
    background-color: #DBEEFA;
    color: #333;
}
.badge-default-light {
    background-color: #DBEEFA;
    font-weight: normal;
    color: #777;
}
.badge-muted {
	background-color: #2F2933;
	color: #333;
}

.well {
	border: none;
	border-radius: 0px;
	box-shadow: none;
}

.bg-info{
	background-color: #DBEEFA;
}
.padded-bg{
	padding-top: 8px;
	padding-bottom: 8px;
}

.divider {
	height: 30px;
}


/* topic hierarchy */
.panel-heading{
    border-radius: 0px;
}
.topic-hierarchy .plusminus{
    margin-top: 4px;
}
.topic-hierarchy ul{
    list-style: none;
}

.panel-heading {
    cursor: pointer;
}


/* bill status labels */
.label-stale{
    background-color: #999; /* dark grey */
}
.label-passed{
    background-color: #009a00; /* green */
}
.label-approved{
    background-color: #009a00; /* green */
}
.label-active{
    background-color: #54afe8; /* medium blue */
}
.label-failed{
    background-color: #720000; /* dark red */
}

#logo {
    top: -12px;
}

#person-detail-headshot{
    max-height: 250px;
}
#logo-text{
    text-transform: capitalize;
		font-family: 'Raleway', sans-serif;
		font-size: 20px;
		color: #2F2933;

}
#nav-items{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #2F2933;
}

/* homepage */
#section-photo{
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url('../images/courthouse.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 350px;
}
#search-row{
	padding-top: 30px;
}
#section-photo .h3, #section-photo h1{
	font-family: 'Raleway', sans-serif;
	color: #fff;
}
#main-search{
	height:55px
}
#fa-search {
	color:#2F2933;
}
#section-intro, #section-engage{
    line-height: 1.6em;
}
#intro-pg{
	padding-top: 10px;
}
#map-screenshot{
    max-height: 220px;
}

#section-engage{
    background-color: #E9FAD0;
		padding-top: 10px;
}
#section-engage h2, #section-engage h4{
		font-family: 'Raleway', sans-serif;
		color: #2F2933;
}
#section-events{
    background-image:
        linear-gradient(
            rgba(1, 162, 166, 0.7),
            rgba(1, 162, 166, 0.7)
        ),
        url('../images/council_meeting.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
#section-events h2{
		font-family: 'Raleway', sans-serif;
    color: #ffffff;
}
#section-events h4, #section-events h3, #section-events p{
		font-family: 'Raleway', sans-serif;
    color: #ffffff;
}
#section-events p>a{
    color: #ffffff;
}
#section-last-council-meeting h2{
	font-family: 'Raleway', sans-serif;
	color: #2F2933;
}
#next-council-meeting-well{
    background-image:
        linear-gradient(
          rgba(192, 0, 0, 0.25),
          rgba(192, 0, 0, 0.25)
        ),
        url('../images/council_chambers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 500px;
}
#next-council-meeting-well > .h4 {
	color: #DBEEFA;
}
#next-council-meeting-well > .h3 {
	color: #fff;
}




/* about page */
ul.plain-list{
    list-style: none;
    padding-left: 0px;
}





/* lil screens */
@media only screen and (max-width : 360px) {
    #logo {
        top: -6px;
    }

    .btn-bill-detail{
        padding: 20px 0px;
        top: 20px;
    }


}
